.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
}
